
<h1>Organizations</h1>

<br />

<div id="org_list">
<dl>
  <% @orgs.each do |org| %>
  <dt><%= link_to org.name, org %>
	<% if session[:user_id] %>
      &nbsp;&nbsp;&nbsp;
      <span id="admin_links">
      (<%= link_to 'Show', org %>,
      <%= link_to 'Edit', edit_org_path(org) %>,
      <%= link_to 'Destroy', org, :confirm => 'Are you sure?', :method => :delete %>)
      </span>
    <% end %>
	</dt>
  <dd><%= org.summary %></dd>
  <% end %>
</dl>	
	
</div>

<br />

<% if session[:user_id] %>
  <%= link_to 'New Org', new_org_path %>
<% end %>