<h1>List of Organizations</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
<% if false %>
    <th>Summary</th>
    <th>Description</th>
<% end %>
    <th>Chair</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orgs.each do |org| %>
  <tr>
    <td><%= org.id %></td>
    <td><%= org.name %></td>
<% if false %>
    <td><%= org.summary %></td>
    <td><%= org.description %></td>
<% end %>
    <td><%= org.chair %></td>
    <td><%= org.created_at %></td>
    <td><%= org.updated_at %></td>
    <td><%= link_to 'Show', org %></td>
    <td><%= link_to 'Edit', edit_org_path(org) %></td>
    <td><%= link_to 'Destroy', org, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Org', new_org_path %>
