<p id="notice"><%= notice %></p>

<h1><%= @org.name %></h1>

<p>
  <%= @org.summary %>
</p>

<hr />

<p>
  Chairperson: <%= @org.chair %><br /><br />
  <%= @org.description %>
</p>


<% if session[:userid] %>
<%= link_to 'Edit', edit_org_path(@org) %> |
<% end %>
<%= link_to 'Back', orgs_path %>
