<p id="notice"><%= notice %></p>

<h1><%= @org.name %></h1>

<p>
	<% if !@org.chair.blank? %>
  	Chairperson: <%= @org.chair %><br /><br />
  <% end %>
	<%= raw(process_markup(@org.description)) %>
</p>

<% if !@news_items.empty? %>
<hr />
<h2>News Items</h2>
<div class="NewsItems">	
	<% @news_items.each do |news_item| %>
		<%= display_news(news_item, :h3, true, :thumb) %>
	<% end %>
</div>
<% end %>

<% if !@forms.empty? %>
<hr />
<h2>Forms</h2>
<div class="Forms">
	<ul>	
	<% @forms.each do |form| %>
  	<li><a href="<%= form.form.url %>" target="forms"><%= form.name %></a></li>
	<% end %>
	</ul>
</div>
<% end %>

<br />
<br />
<br />

<% if session[:user_id] %>
<%= link_to 'Edit', edit_org_path(@org) %> |
<% end %>
<%= link_to 'Back', orgs_path %>
