<p id="notice"><%= notice %></p>

<h1><%= @org.name %></h1>

<p>
  <%= @org.summary %>
</p>

<hr />

<p>
  Chairperson: <%= @org.chair %><br /><br />
  <%= @org.description %>
</p>


<% if session[:userid] %>
<%= link_to 'Edit', edit_org_path(@org) %> |
<% end %>

<br />
<p style="color:red">
TO-DO Items: Calendar and News items specifically associated with this organization will eventually be located on this page.	
</p>

<%= link_to 'Back', orgs_path %>
