<p id="notice"><%= notice %></p>

<h1><%= @org.name %></h1>

<p>
	<% if !@org.chair.blank? %>
  	Chairperson: <%= @org.chair %><br /><br />
  <% end %>
	<%= raw(process_markup(@org.description)) %>
</p>

<% if !@news_items.empty? %>
<hr />
<h2>News Items</h2>
<div class="NewsItems">	
	<% @news_items.each do |news_item| %>
		<% if (news_item.post_at < Time.now) and (news_item.expire_at > Time.now) %>
			<%= display_news(news_item, :h3, true, :thumb) %>
		<% end %>
	<% end %>
</div>
<% end %>

<br />
<br />
<br />

<% if session[:user_id] %>
<%= link_to 'Edit', edit_org_path(@org) %> |
<% end %>
<%= link_to 'Back', orgs_path %>
