<h1>Admin Section</h1>
	<% if flash[:alert] %>
	  <p class="flash-error"><%= flash[:alert] %></p>
	<% end %>
	<% if flash[:notice] %>
	  <p class="flash-notice"><%= flash[:notice] %></p>
	<% end %>	
	
	<% if !session[:user_id] %>
  	<br />
  	<%= button_to 'Login', login_path, :method => :get %>
  	<br />
	<% else %>
	<br />
	<p>
		You are now logged in with administrative access.  Pages that can be modified will have
		additional links such as "new", "edit", and "destroy".  These links will allow you to 
		create new records, modify them, or delete them.  Once you are finished making changes,
		please use the "Logout" button to return to the site as a normal user. 
	</p>
	<br />
	
	<%= link_to 'User List', users_path %>
	<br />
	<br />
	<%= link_to 'Change Password', :controller => :users, :action => :change_pw %>
	<br />
	
	<% if false %>
	<p>
		Below, are buttons to change the overall "style" of the website.  The current options are defined as:
		<br />
		A --> Original style - left navigation; simple box layout
		<br />
		B --> Similar to A, but corners are rounded and there is space between the navigation area and the 
		main page area.
		<br />
		C --> Navigation is moved to the top and the primary content becomes a fixed width. 
		<br /><br />
		Current style:&nbsp;
		<% if session[:style] == 'a' %>
			A
		<% elsif session[:style] == 'b' %> 
			B 
		<% else %> 
			C 
		<% end %>
		<br />
		<%= button_to 'Style A', :action => 'style_a', :method => :get %>
		<%= button_to 'Style B', :action => 'style_b', :method => :get %>
		<%= button_to 'Style C', :action => 'style_c', :method => :get %>
	</p>
	<% end %>
<% end %>
<br />
<br />
<br />
