<div class="wrapper">
<%= image_tag("altar_banner.jpg") %>
<div class="description_top">
<p>
	Dear Friend,<br />
	Welcome to the new web <br />
	home of St. Francis Xavier <br /> 
	Parish!
	<%= link_to '...read more', welcome_path %>
</p>
</div>
</div>

<div id="wrap">
<div id="left">
	
	<h2>Mass Schedule</h2>
	<table class="grid stripe">
		<tr><th>Weekdays</th><td>&nbsp;</td></tr>
		<tr><td>Monday</td><td>6:00pm</td></tr>
		<tr><td>Wednesday</td><td>6:00pm</td></tr>
		<tr><td>Thursday</td><td>8:30am</td></tr>
		<tr><th>Weekends</th><td>&nbsp;</td></tr>
		<tr><td>Saturday</td><td>5:00pm</td></tr>
		<tr><td>Sunday</td><td>7:00am &amp;<br/>9:00am</td></tr>
	</table>
	<h2>Lent Schedule</h2>
	<table class="grid stripe">
		<tr><th>Stations of the Cross</td><td>Friday's<br/>6:00pm</td></tr>
		<tr><th>K of C Fish Fry</td><td>Friday's<br/>4:00pm</td></tr>
		<tr><th>Communal Penance Service<br />Sunday, March 25th</td><td>3:00pm - 6:00pm</td></tr>
	</table>
	<h2>Easter Mass Schedule</h2>
	<table class="grid stripe">
		<tr><th>Holy Thursday</td><td>7:00pm</td></tr>
		<tr><th>Good Friday</td><td>7:00pm</td></tr>
		<tr><th>Easter Vigil</td><td>8:00pm</td></tr>
		<tr><th>Easter Sunday<br/>April 8th</td><td>7:00am &amp;<br/>9:00am</td></tr>
	</table>
<br />
<hr />

<div class="container">
<div id="bulletins">
	<h2>Bulletins</h2>
	<%= bulletin_link(Date.today) %>
	<br />
	<%= bulletin_link(Date.today - 7) %>
	<br />
	<%= bulletin_link(Date.today - 14) %>
	<br />
</div>

<div id="readings">
	<h2>Readings</h2>
	<%= bible_readings_link(Date.today, "Today") %>
	<br />
	<%= bible_readings_link(Date.today+1, "Tomorrow") %>
	<br />
  <%= sunday_bible_readings_link(Date.today, "Sunday") %>
	<br />
</div>	
</div>
<br />
<hr />

<h2>Parish Office</h2>

<p>Hours:<br />
	 Monday-Thursday, 8:30am to 4:00pm<br />
	 and Friday, 8:30am to Noon
</p>
<p>Phone:<br />
	 (502) 538.4933 or (502) 955.5366
</p>
<p>Address:<br />
	 155 Stringer Lane<br />
	 Mt. Washington, KY  40047<br>
	 <%= link_to 'Directions', directions_path %>
</p>

<br />

<a href="http://sfxmw.blogspot.com" target="_blank">
<%= image_tag("Blogger-icon.png", :title => "SFXMW Blog") %>
</a>
<a href="http://www.facebook.com/pages/SFXMW/316368557679" target="_blank">
<%= image_tag("Facebook-icon.png", :title => "SFXMW on Facebook") %>
</a>
<%= image_tag("Twitter-icon.png", :title => "SFXMW on Twitter (coming soon?)") %>
<%= image_tag("RSS-icon.png", :title => "SFXMW RSS Feed (coming soon?)") %>


</div>

<div id="right">
	<div class="NewsItems">	
		<% @news_items.each do |news_item| %>
			<% if (news_item.post_at < Time.now) and (news_item.expire_at > Time.now) %>
				<%= display_news(news_item, :h2, true, :thumb) %>
			<% end %>
		<% end %>
	</div>
</div>

</div>

<div class="clear" />
<hr />
<div class="wrapper">
<%= image_tag("welcome_background.png") %>
<div class="description_bottom">
<h2>Our Mission</h2>
<p>
St. Francis Xavier is a Roman Catholic Church, in Mt. Washington, Kentucky established in 1846 to further God's kingdom on earth.
We are a welcoming community of faith serving the spiritual, emotional, intellectual and physical needs of our parishioners.
We are dedicated to the celebration of the sacraments and the teachings of the church.
Our goal is to meet these needs through various parish organizations and through community ministries.
</p>

</div>
</div>
