<div class="leftalign">
<h1>Current News</h1>
</div>
<div class="rightalign">
<br />
<br />
<%= link_to 'Special News Series...', series_index_path %>
</div>
<div class="clear"></div>
<hr />

<div class="NewsItems">
<% @news_items.each do |news_item| %>
	
	<%= display_news(news_item, :h2, true, :thumb) %>
	Posted: <%= news_item.post_at.strftime("%B %d, %Y") %>
  <br />

	<% if session[:user_id] %>
	  <br />
  	<%= link_to 'Show', news_item %>&nbsp;&nbsp;
  	<%= link_to 'Edit', edit_news_item_path(news_item) %>&nbsp;&nbsp;
  	<%= link_to 'Destroy', news_item, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<hr />
	
<% end %>
<br />
</div>

<% if session[:user_id] %>
<hr />
<%= link_to 'Future News Items', :action => 'future', :controller => 'news_items' %> <br />
<%= link_to 'Expired News Items', :action => 'expired', :controller => 'news_items' %> <br />
<%= link_to 'New News item', new_news_item_path %>
<% end %>