<h1>News Items</h1>

<% @news_items.each do |news_item| %>
<% if (news_item.post_at < Time.now) and (news_item.expire_at > Time.now) %>
	
	<h3><%= news_item.summary %></h3>
	<%= image_tag(news_item.image_url) %>
	<p><%= news_item.story %></p>
	<br />
  <%= link_to 'Show', news_item %>&nbsp;&nbsp;
  <%= link_to 'Edit', edit_news_item_path(news_item) %>&nbsp;&nbsp;
  <%= link_to 'Destroy', news_item, :confirm => 'Are you sure?', :method => :delete %>
	<hr />
	
<% end %>
<% end %>

<% if session[:user_id] %>

<h2>Expired News Items</h2>
<% @news_items.each do |news_item| %>
<% if news_item.expire_at < Time.now %>
	
	<h3><%= news_item.summary %></h3>
	<p><%= news_item.story %></p>
	<br />
	<p>Expired at <%= news_item.expire_at %></p>
  <%= link_to 'Show', news_item %>&nbsp;&nbsp;
  <%= link_to 'Edit', edit_news_item_path(news_item) %>&nbsp;&nbsp;
  <%= link_to 'Destroy', news_item, :confirm => 'Are you sure?', :method => :delete %>
	<hr />
	
<% end %>
<% end %>

<h2>Future News Items</h2>
<% @news_items.each do |news_item| %>
<% if news_item.post_at > Time.now %>
	
	<h3><%= news_item.summary %></h3>
	<p><%= news_item.story %></p>
	<br />
	<p>Post at <%= news_item.post_at %></p>
  <%= link_to 'Show', news_item %>&nbsp;&nbsp;
  <%= link_to 'Edit', edit_news_item_path(news_item) %>&nbsp;&nbsp;
  <%= link_to 'Destroy', news_item, :confirm => 'Are you sure?', :method => :delete %>
	<hr />
	
<% end %>
<% end %>

<% end %>

<br />

<%= link_to 'New News item', new_news_item_path %>
