
<div class="NewsItems">
	<h1><%= @news_item.summary %></h1>
	<%= image_tag(@news_item.picture.url(:normal)) if @news_item.picture? %>
	<p><%= @news_item.story %></p>
	<br />
	<div class="clear">&nbsp;</div>
</div>

<p>
Posted at: <%= @news_item.post_at %>
</p>

<% if session[:user_id] %>
	<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<% end %>
<%= link_to 'Back', news_items_path %>
